.share-icon svg {
    width: 2em;  /* Adjust the size as needed */
    height: 2em; /* Adjust the size as needed */
    padding: 1em;
    fill: #f8f8f8;   /* Adjust the color as needed */
    cursor: pointer;
    float: right; 
}

.close-icon {
    font-size: 2em;
    cursor: pointer;
    float: right; 
    color: white;
    padding: .3em;
}

.add-icon {
    font-size: 2em;
    cursor: pointer;
    float: right; 
    color:white;
    padding: .3em;
}


#theme {
    float: left;
    filter: invert(1);
    padding: 10px;
}

#theme img {
    width: 51px;
}

.card-streetname h2 {
    background-color: #1E2956;
    color: white;
    padding: .5em;
    margin: .2em;
    margin-top: .2em;
    margin-bottom: .2em;
    border-color: white;
    border-radius: .5em;
    border-style: solid;
}

.card-image {
    clear: both;
    float: left;
}

.card-image img {
    max-height: 400px; /* Replace 200px with your desired maximum height */
    max-width: 350px;
    height: auto;
}


.card-description {
    background-color: #1E2956;
    width: 330px;
    height: 400px;
    float: left;
}

.card-description p {
    color: white;
    margin: 1em;
    padding: 1em;
    border-radius: .5em;
}

.card-person {
    float: left;
}

.card-identifier {
    float: right;
}




.card-streetimage img {
    width: 100%
}

.card-date {
    font-size: 16px;
    color: #333;
}

.card-date-start {
    font-weight: bold;
    color: blue;
}

.card-date-end {
    font-weight: bold;
    color: green;
}